.accountsReached {
    border: 1px solid red;
    width: 289px;
    height: 394px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.accountsReached + p {
    position: absolute;
    width: 141px;
    height: 30px;
    left: 394px;
    top: 8.75px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 91.5%;
    display: flex;
    align-items: center;
    color: #000000;
}

.accountsReached_div {
    position: absolute;
    width: 289px;
    height: 344px;
    left: 394px;
    top: 58.75px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}