.analytics {
    width: 418px;
    height: 319px;
    font-family: 'Urbanist';
    font-style: normal;
}

.analytics > p {
    position: absolute;
    width: 118px;
    height: 30px;
    left: 0px;
    font-weight: 800;
    font-size: 14px;
    line-height: 91.5%;
    display: flex;
    align-items: center;
    color: #000000;
}

.analytics_div {
    position: absolute;
    width: 418px;
    height: 269px;
    top: 50px;
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.analytics_div > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 348px;
    height: 18px;
    left: 32px;
    top: 25px;
}


.analytics__income--button {
    width: 73px;
    height: 18px;
    background: #525252;
    border-radius: 25px;
}

.analytics__month--button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 112px;
    height: 18px;
}


.analytics_income--button__text {
    position: absolute;
    width: 31.78px;
    height: 16px;
    left: 15.46px;
    top: 1px;
    font-weight: 800;
    font-size: 8px;
    line-height: 91.5%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}


.analytics_income--button__downArrow {
    position: absolute;
    width: 9.04px;
    height: 12.02px;
    left: 47.54px;
    top: 3.91px;
    font-size: 8px;
    line-height: 91.5%;
    color: #FFFFFF;
    transform: rotate(90deg);
}

.analytics__month--button > p {
    width: 49px;
    height: 9px;
    font-weight: 500;
    font-size: 8px;
    line-height: 91.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B1B1B1;
}

.analytics__month--button > div {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 64px;
    height: 18px;
    left: 48px;
}


.analytics_month--button__downArrow {
    position: absolute;
    width: 10.17px;
    height: 10.29px;
    left: 88px;
    top: 4.71px;
    font-weight: 800;
    font-size: 8px;
    line-height: 91.5%;
    color: #000000;
    transform: rotate(90deg);
}

.analytics_month--button__text {
    position: absolute;
    width: 27.18px;
    height: 18px;
    left: 62px;
    font-weight: 800;
    font-size: 8px;
    line-height: 91.5%;
    display: flex;
    align-items: center;
    color: #000000;
}

.analytics_div > div:nth-child(2) {
    position: absolute;
    width: 347.5px;
    height: 161.5px;
    left: 34px;
    top: 82.5px;
}

.analytics_loading {
    width: 347.5px;
    height: 161.5px;
}