* {
  margin: 0;
  padding: 0;
}

.main {
  border-radius: 18px;
  position: relative;
  margin: 50px;
  width: 1440px;
  height: 1024px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.firstChild {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 118px;

  position: absolute;
  width: 1062px;
  height: 394px;
  left: 292px;
  top: 174px;
}

.firstChild > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
  width: 655px;
  height: 319px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.secondChild {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 28px;

  position: absolute;
  width: 683px;
  height: 411.5px;
  left: 292px;
  top: 529px;
}

.pageDivider {
  position: absolute;
  width: 1024px;
  height: 0px;
  left: 495px;
  top: 511px;
  border-top: 0.5px solid #B7B7B7;
  transform: rotate(90deg);
}